/* RESET  */
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*******************************/
body {
  background-image: url("../img/cork.png");
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.card-title {
  font-family: "Edu TAS Beginner";
  font-weight: 200;
  font-size: 1.3rem;
}

.col {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.card-content {
  padding: 0.8em;
}
/* MOBILE FIRST */

@media screen and (min-width:768px) {
  .col {
    width: calc(100% / 2 - 40px / 2);
  }
}

@media screen and (min-width:992px) {
   .col {
    width: calc(100% / 3 - 40px / 3);
  }
}