/* RESET  */
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}


/* MOBILE FIRST */
.container {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media screen and (min-width:768px) {
  .col {
    width: calc(100% / 2 - 40px / 2);
  }
}

@media screen and (min-width:992px) {
   .col {
    width: calc(100% / 3 - 40px / 3);
  }
}