/* RESET  */
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*******************************/
body {
  background-image: url("../img/cork.png");
  font-family: "Edu TAS Beginner";
}

.header {
  background-image: url("../img/wall.png");
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000;
}

.title {
  font-size: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.card-title {
  font-weight: 200;
  font-size: 1.3rem;
}

.col {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
}

.card-content {
  padding: 0.8em;
}

.col:hover {
  animation: rotate 1s alternate;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(20deg);
  }
}

.col::before {
  content: url("../img/pin.svg");
  position: absolute;
  top: 0;
}

/* MOBILE FIRST */

@media screen and (min-width:768px) {
  .col {
    width: calc(100% / 2 - 40px / 2);
  }
}

@media screen and (min-width:992px) {
  .col {
    width: calc(100% / 3 - 40px / 3);
  }

  .title {
    font-size: 3rem;
  }
}