/* RESET  */
body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

/*******************************/
body {
  background-image: url("../img/cork.png");
  font-family: "Edu TAS Beginner";
}

.header {
  background-image: url("../img/wall.png");
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000;
}

.title {
  font-size: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  padding-top: 150px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.card-title {
  font-weight: 200;
  font-size: 1.3rem;
}

.col {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  position: relative;
  box-shadow: 5px 5px 5px 5px rgb(103, 88, 73);
}

.card-content {
  padding: 0.8em;
}

.col::before {
  content: url("../img/pin.svg");
  position: absolute;
  top: 0;
}

.col:hover {
  animation: rotate 1s alternate;
  animation-fill-mode: forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(20deg);
  }
}

.col:hover::before {
  opacity: 0;
}


.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  /* opacity: 0.4; */
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.clicked-post {
  width: 50%;
  height: 50%;
  opacity: 1;
}

.close-btn {
  margin-top: 100px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
}

.loading-screen {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

/* UTILITY */

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

/* MOBILE FIRST */

@media screen and (min-width:768px) {
  .col {
    width: calc(100% / 2 - 40px / 2);
  }

  .clicked-post {
    width: 50%;
    height: 50%;
  }

  .close-btn {
    margin-top: 100px;
  }
}

@media screen and (min-width:992px) {
  .col {
    width: calc(100% / 3 - 40px / 3);
  }

  .title {
    font-size: 3rem;
  }

  .clicked-post {
    width: 30%;
    height: 30%;
  }

  .close-btn {
    margin-top: 90px;
  }
}